
<!--              <div class="input-field col s12 m8 offset-m2 test input-field-border">-->
<!--                <input id="password" type="password" name="password" ngModel required [pattern]="regex" #password="ngModel">-->
<!--                <label for="password">Password</label>-->
<!--                <div *ngIf="password.invalid && password.touched">-->
<!--                  <span class="helper-text" *ngIf="password.errors.required">Password is required</span>-->
<!--                  <span class="helper-text" *ngIf="password.errors.pattern">Password must contain at least one uppercase letter, one number and one special character</span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="input-field col s12 m8 offset-m2 test input-field-border">-->
<!--                <input-->
<!--                  id="passwordRepeat"-->
<!--                  type="password"-->
<!--                  name="passwordRepeat"-->
<!--                  ngModel required-->
<!--                  #passwordRepeat="ngModel">-->
<!--                <label for="passwordRepeat">Repeat Password</label>-->
<!--                <div *ngIf="passwordRepeat.invalid && passwordRepeat.touched">-->
<!--                  <span class="helper-text" *ngIf="passwordRepeat.errors.required">Repeat the password</span>-->
<!--                </div>-->
<!--                <div *ngIf="passwordRepeat.touched">-->
<!--                  <span class="helper-text" *ngIf="this.password.value !== this.passwordRepeat.value">-->
<!--                    Password does not match-->
<!--                  </span>-->
<!--                </div>-->
<!--              </div>-->

<mat-card>
  <mat-card-content>
    <form #formGroup="ngForm" (ngSubmit)="onSubmit()">
      <h2>Sign up</h2>
      <mat-card-subtitle> Create an account</mat-card-subtitle>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="name" id="personName" type="text" name="personName" ngModel required #personName="ngModel">
        <mat-error>
          Please provide a valid name
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="email" id="email" type="email" name="email" ngModel required email #email="ngModel">
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="password" id="password" type="password" name="password" ngModel required #password="ngModel">
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="repeat password" id="passwordRepeat" type="password" name="passwordRepeat" ngModel required  #passwordRepeat="ngModel">
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" id="login"
              type="submit" [disabled]="formGroup.invalid">Create account</button>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-subtitle>Already have an account? <a [routerLink]="['/login']">Sign in here</a></mat-card-subtitle>
  </mat-card-footer>
</mat-card>
