<div id="main">
  <button mat-raised-button color="basic" [routerLink]="['/admin']"><mat-icon>all_inbox</mat-icon><br>Orders</button>
  <button mat-raised-button color="basic" [routerLink]="['/account-management']"><mat-icon>supervisor_account</mat-icon><br>Users</button>
  <button mat-raised-button color="basic" [routerLink]="['/product-management']"><mat-icon>store</mat-icon><br>Products</button>
  <button mat-raised-button color="basic" [routerLink]="['/admin']"><mat-icon>email</mat-icon><br>Contact</button>
</div>
