<mat-card>
  <mat-card-content>
    <form #formGroup="ngForm" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>
      <mat-card-subtitle> Sign in with your account</mat-card-subtitle>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="email" id="email" type="email" name="email" ngModel required email #email="ngModel">
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="password" id="password" type="password" name="password" ngModel required #password="ngModel">
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" id="login"
              type="submit" [disabled]="formGroup.invalid">Login</button>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-subtitle>Don't have an account? <a [routerLink]="['/register']">Sign up here</a></mat-card-subtitle>
  </mat-card-footer>
</mat-card>
